
/* nav bar styling */
.nav-link:hover, .nav-link:focus {
   border-bottom: 2px solid rgb(254,105,7);
   color: rgb(254,105,7) !important;
 }
 
 .navbar-toggler {
   background: rgb(254,105,7);
   color: aliceblue;
 }
 .navbar-toggler-icon {
   color: aliceblue;
 }
 
 .orange {
   background-color:  rgb(254,105,7) !important;
 }
 
 /* nav bar ends here */
 
 
 .header-section {
   background:#F5F4F480;
   ;
 
 }
 
 .shop-all {
 
   background-color: rgb(254,105,7);
 }
 
 .look-book {
   background-color: transparent;
   border: 1px solid rgb(254,105,7);
   color: rgb(254,105,7);
 }
 
 .img-div-1 {
   margin-top : 15em;
   margin-left: 6em;
 }
 
 .img-div-2 {
    top: 35.5%;
    left: 40%;
 }
 
 .grey-box {
   background: #E4E2E1;
   margin-top: 5em;
   z-index: -5;
 
 }
 
 .img-div-3 {
   top: 0%;
   right: 6%;
 }

 .img-div-vector {
   top: 20%;
   left:51.6%;
  }

  .img-div-vector-1 {
    top: 48%;
    left:27%;
    width: 25%;
    z-index: -5;
   }
 
 
  .guarantee-container {
    background-color: rgb(254,105,7);
  }
 
 
 .product-category a, .card-title-link{
   color: rgb(254,105,7) !important;
 }
 
 .form-control {
   color: rgb(254,105,7) !important;
   background-color: rgb(254,105,7);
 }
 
 ::placeholder { 
   color: white !important;
   opacity: 1; 
 }
 
 .input-group {
   border-radius: 9em !important;
 }
 
 .input-group-text {
   background-color: rgba(252, 101, 0, 0.473);
   
 }
 
 
 .footer-section ul li a {
   color: rgb(254,105,7) !important;
 }
 
 .footer-container {
   background-color: #F5F4F480;
 
 }

 @media screen and (max-width: 4260px) {

  .img-div-vector, .img-div-vector-1  {
    display: none !important;
   }
 
   

 }
 
 /* tablet query */
 
 @media screen and (max-width: 770px) and (min-width: 576px) {
   .header-section {
     background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/header-image-2.png");
     background-repeat:no-repeat;
     background-position: center;
     background-attachment: fixed;
     color: white !important;
   }
   
 }

 /* Laptop view */
 @media screen and (max-width: 1026px) and (min-width: 1000px) {

  .img-div-1 {
    margin-top : 15em;
    margin-left: 2em;
  }
  
  .img-div-2 {
     top: 39%;
     left: 39%;
  }
  
  
  .img-div-3 {
    top: 0%;
    right: 6%;
  }
 
  .img-div-vector {
    top: 19%;
    left:53%;
   }
 

 }