body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.8)), url(../img/forgot-password-image.jpeg)no-repeat center;
   background-size: cover;
}