* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

/* nav bar styling */
.nav-link:hover,
.nav-link:focus {
  border-bottom: 2px solid rgb(254, 105, 7);
  color: rgb(254, 105, 7) !important;
}

.navbar-toggler {
  background: rgb(254, 105, 7);
  color: aliceblue;
}
.navbar-toggler-icon {
  color: aliceblue;
}

.orange {
  background-color: rgb(254, 105, 7) !important;
}

/* nav bar styling ends */

.cart {
  z-index: 2;
}
.control {
  background-color: rgb(254, 105, 7) !important;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 0.5rem;
  position: absolute;
  top: 20rem;
  padding: 0.5rem;
}
/*footer styling */
.footer-section ul li a {
  color: rgb(254, 105, 7) !important;
}

.footer-container {
  background-color: #f5f4f480;
}

/* tablet query */

@media screen and (max-width: 770px) and (min-width: 576px) {
}
